[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
colorama = "*"
emoji = "*"
exceptiongroup = "*"
iniconfig = "*"
packaging = "*"
pluggy = "*"
pytest = "*"
six = "*"
tomli = "*"
pyinputplus = "*"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.11"
